<footer class="container-fluid"></footer>
<div class="row footer ">
    <div class="col-12 col-lg-4 ">
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>pagá con tarjeta o efectivo</h4>
            <p>con mercado libre cash,tenes coutas si interes con tarjeta o efectivo en punto de pagos. !siempre seguro!.</p>

        </article>
    </div>
    <div class="col-12 col-lg-4 ">
        <article> <i class="fas fa-gift"></i>
            <h4>envio gratis desde $1.999</h4>
            <p>con mercado libre cash,tenes envio gratis en un monto de productos.Es un Beneficio de Mercado De Puntos</p>
        </article>
    </div>
    <div class="col-12 col-lg-4 ">
        <article> <i class="fas fa-user-shield"></i>
            <h4>seguridad de principio a fin</h4>
            <p>¿no te gusta?!Devolvelo! EN Mercado Libre, No Hay Nada Que No Puedas Hacer,por que estás siempre !Seguro!</p>

        </article>
    </div>
    <div class="col-12 copy">copyrigth 2020 Comision 2</div>
</div>

<script src="https://kit.fontawesome.com/ad26bd2c8e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>