<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-5 col-md-2  col-lg-2 logo">
                <a href=""><img src="/images/logo-mercado-liebre.svg" alt=""></a>
            </div>

            <div class="col-7 col-md-6 col-lg-6">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="search" class="search-form_input" placeholder="Buscar productos, marca y mas....">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-12 col-md-4 col-lg-4 cuotas">
                <a href=""><i class="fas fa-hand-holding-usd"></i>comprar en coutas y sin tarjeta de credito</a>
            </div>

        </div>
        <nav class="navbar-expand-md">
            <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <i class="fas fa-bars"></i></button>
            <!-- barra de menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="menu navbar-nav mr-auto">
                    <li><a href="">Oferta</a></li>
                    <li><a href=""> tiendas Oficiales</a></li>
                    <li><a href="/products/add">Vender </a></li>
                    <li><a href="">Ayuda</a></li>

                </ul>
                <ul class="usuario navbar-nav">
                    <li><a href="users/register">Crea Tu Cuenta <i class="fas fa-address-card"></i>  </a></li>
                    <li><a href="/users/profile">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="users/carrito">Mis compras <i class="fas fa-shopping-basket"></i>  </a></li>

                </ul>
            </div>
            <!-- cierre de menu -->

        </nav>
    </div>
    <!-- cierre de container fluid -->

</header>