<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesone/5.11.2/css/all.min.css"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>
        <%= title %>
    </title>


    <link rel="apple-touch-icon" tamaños="57x57" href="images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" tamaños="60x60" href="images/icon/apple -icon-60x60.png ">
    <link rel=" apple-touch-icon " tamaños=" 72x72 " href=" images/icon/apple-icon-72x72.png ">
    <link rel=" apple-touch-icon " tamaños="76x76" href="images/icon/icono-apple-76x76.png">
    <link rel="apple-touch-icon " tamaños=" 114x114 " href=" images/icon/apple-icon-114x114.png ">
    <link rel="apple-touch-icon" tamaños="120x120" href="images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" tamaños="144x144" href="images/icon/apple-icon-144x144.png ">
    <link rel=" apple-touch-icon " tamaños=" 152x152 " href=" images/icon/apple-icon-152x152.png ">
    <link rel="icono" tipo="imagen / png" tamaños="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image / png" tamaños="32x32" href="images/icon/favicon-32x32.png">
    <link rel="icon" type="image / png" tamaños="96x96" href="images/icon/favicon-96x96.png">
    <link rel="icon" type="image / png" tamaños="16x16" href="images/icon/ favicon-16x16. png ">
    <link rel=" manifiesto " href="images/icon/manifest.json">
    <meta nombre="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>