<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotFound</title>
</head>

<body>
    <style>
        .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="titulo">
        <h1 style="color: red;">error 404</h1>

        <h2 style="color: firebrick;">error pagina no encontrada</h2>


    </div>
</body>

</html>