<!DOCTYPE html>
<html lang="en">

<head>




    <!-- 
                Esta es una practica para un formulario de registro básico usando HTML, CSS, Bootstrap 4 y JavaScript
                Autor: Elvis Briceño
            -->
    <title>Formulario de registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <% if (typeof errors != 'undefined') {%>
        <p style="color:red">ERROR</p>
        <ul>
            <% for(let i = 0; i <errors.length; i++ ){ %>
                <li>
                    <%= errors[i].msg %>
                </li>
                <% } %>
        </ul>
        <% } %>
            <article>
                <section class="container">
                    <h1 class="h2 text-center my-3">Formulario de registro</h1>
                    <form action="/users/register" method="post" name="formulario" id="formulario" autocomplete="off" enctype="multipart/form-data">
                        <fieldset>
                            <h1 class="h4 text-center">
                                Datos Personales
                            </h1>
                            <div class="form-group col-12">
                                <label>avatar</label>
                                <input type="file" id="avatar" name="avatar" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>
                            <div class="form-group col-12">
                                <label>Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>
                            <div class="form-group col-12">
                                <label>Apellido</label>
                                <input type="text" id="apellido" name="apellido" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>
                            <div class="form-group col-12">
                                <label>Edad</label>
                                <input type="number" id="edad" name="edad" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>
                            <div class="form-group col-12">
                                <label>Correo Electronico</label>
                                <input type="email" id="email" name="email" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>

                            <div class="form-group col-12">
                                <label>Contraseña</label>
                                <input type="password" id="contra" name="contra" class="form-control col-lg-8 col-sm-8 col-xs-12">
                            </div>
                            <div class="form-group text-center col-12">
                                <input type="submit" id="envio" value="Registrarse" class="btn btn-primary ">
                            </div>
                        </fieldset>
                    </form>
                </section>
            </article>



            <!-- Script para bootstrap -->
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</body>

</html>