/* import */

@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;700&display=swap');
@import "style.css";

/*   variables */

:root {
    --color-amarillo: #EAC926;
    --color-grisclaro: #ebebeb;
    --color-grisoscuro: #666666;
    --color-azul: #03264c;
    --color-verde: #39b54a;
    --color-celeste: #1259c3;
}


/*
Generales
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Roboto;
    font-weight: 300;
    background-color: var(--color-grisclaro);
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


/*CABECERA*/

header {
    background-color: var(--color-amarillo);
    padding: 20px 0;
}

header form {
    background-color: white;
    border: 1px solid var(--color-grisclaro);
    border-radius: 5px;
    padding: 0px 8px;
}

header form input {
    border: 0;
    border-right: 2px solid var(--color-grisclaro);
    padding-right: 5px;
    width: 85%;
}

header form button {
    background: 0;
    border: 0;
    padding: 0;
    color: var(--color-grisoscuro);
    padding-left: 5px;
}

header .cuotas {
    text-align: center;
    padding: 20px 0;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav .burger {
    background-color: var(--color-azul);
    color: white;
}


/*aca van todos los es





/*banners*/

.banner img {
    display: none;
}


/*Producto*/

.titulo {
    text-align: center;
}

.titulo h2 {
    text-align: left;
    font-size: 24px;
    color: var(--color-grisoscuro);
    padding: 30px;
}

.contenido {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.contenido img {
    width: 95%;
}

.contenido article {
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisclaro);
    position: relative;
}

.contenido article span {
    color: var(--color-verde);
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contenido article i {
    color: var(--color-verde);
    background-color: white;
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: -20;
    right: 20px;
}


/*Footer*/

.footer {
    padding: 20px;
    background-color: white;
}

.footer article i {
    font-size: 35px;
    color: var(--color-celeste);
    margin: 20px 0;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer h4,
footer p {
    color: var(--color-grisoscuro);
    margin: 20px o;
}

.footer .copy {
    border-top: 1px solid var(--color-grisclaro);
    border-top: 1px solid var(--color-grisclaro);
    padding: 20px 0;
    text-align: center;
    color: var(--color-grisoscuro);
}


/* movi */


/* Cabecera */

@media(min-width:768px) {
    header .logo {
        padding: 0;
    }
    header .cuotas {
        text-align: right;
        padding: 0;
    }
    header form input {
        width: 90%;
    }
    /* Banner */
    .banner img {
        display: block;
        width: 100%;
    }
    header nav {
        margin-top: 20px;
    }
    header li {
        margin-right: 10px;
    }
    header li:last-child {
        margin-right: 0;
    }
    /* Producto */
    .contenido article {
        padding-top: 20px;
    }
}